@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

.background {
    position: relative;
    background-image: url("./ovo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.fundo-escuro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

header {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    padding-top: 1rem;
    align-items: center;
    color: #fff;
}

.logo img {
    width: 75px;
    height: auto;
    margin-left: 5rem;
}

ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

ul li a:hover {
    text-transform: capitalize;
    color: #ddd;
    border-bottom: solid 1px;
}

.Ctitle {
    position: relative;
    z-index: 1;
    margin-left: 5rem;
    margin-top: 10rem;
    color: #fff;
}

.Ctitle p {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.Ctitle button {
    margin-top: 2rem;
    background-color: #d3ad7f;
    color: #fff;
    font-size: 1rem;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.Ctitle button:hover {
    letter-spacing: 1px;
    transition: 0.3s all;
}

#section-cuca {
    background-color: #857F76;
    display: flex;
    padding: 6rem;
}

#section2-cuca {
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    gap: 2rem;
    padding: 2rem 1rem;
    align-items: center;
}

#p-cuca {
    font-size: 1.2rem;
    margin-top: .5rem;
    justify-content: center;
    align-items: center;
}

#secao-receitas {
    height: 100vh;
    background-color: #857F76;
}

#secao-receitas ul {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.cards {
    max-width: 18.75rem;
    height: 26.25rem;
    color: #fff;
    position: relative;
    cursor: pointer;
}

.cards:hover .card-text {
    opacity: 1;
    align-items: center;
}

.cards:hover .image-receitas {
    opacity: .3;
}

.image-receitas {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.card-text {
    color: #fff;
    position: absolute;
    text-align: center;
    font-size: 1rem;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -40%);
    opacity: 0;
    transition: opacity 1s;
}

#secao-opcoesreceita {
    height: 100vh;
    padding: 3rem;
}

.sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 4rem;
}

#secao-opcoesreceita form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 500px;
    margin: 0 auto;
    font-size: 1rem;
}

.campo {
    display: flex;
    flex-direction: column;
}

.linha {
    grid-column: 1/3;
}

input[type=text],
select {
    padding: .5rem;
    background-color: #F2F2F2;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    font-family: 'PT Sans', sans-serif;
    width: 15rem;
}

input[type=radio] {
    accent-color: #8b1010;
    width: 25px;
    height: 30px;
    vertical-align: middle;
}

.botao-receita{
    margin-top: 20px;
    background-color: #d3ad7f;
    color: #fff;
    font-size: 1rem;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 150px;
    text-align: center;d
}